.entrada__pesquisa {
    margin: 0 0 0 auto;
    width: 0;
    padding: 0;
    transition: padding 1s, width 1s;
}

.entrada__pesquisa--ativa {
    width: 100%;
    padding: var(--espaco-interno);
    visibility: visible;
    transition: padding .5s, width 1.75s;
}

@media screen and (min-width:768px) {
    .entrada__pesquisa {
        width: 100%;
        padding: var(--espaco-interno);
    }
}