.perfil__conteiner {
    display: flex;
    align-items: center;
    border-radius: var(--borda-arredondada);
    padding: var(--espaco-interno-perfil);
}

.perfil__conteiner:hover {
    background: rgba(255, 255, 255, 0.08);
}