.botao__filled {
    background: rgb(80, 129, 251);
    color: rgb(5, 29, 59);
}

.botao__filled:hover {
    background: rgb(123, 164, 252);
}

.botao__filled:focus {
    background: rgb(150, 185, 253);
}

.botao__filled:active {
    background: rgb(123, 164, 252);
    border: .4rem solid rgba(80, 129, 251, 0.72);
}