.sidebar__link {
  text-decoration: none;
  color: var(--color-neutral-white);
}

.sidebar__link .sidebar__iconBackground {
  background: var(--color-primary-alpha-16);
}

.sidebar__link:hover .sidebar__iconBackground,
.sidebar__link:hover .icon__cor {
  fill: var(--color-neutral-white-alpha-80);
  background: var(--color-primary-alpha-64);
}

.sidebar__link--active .sidebar__iconBackground,
.sidebar__link:active .sidebar__iconBackground,
.sidebar__link:active .icon__cor {
  fill: var(--color-neutral-white);
  background: var(--color-primary);
}
