.vetor {
    height: 1.2rem;
    width: 5.2rem;
    position: absolute;
    top: calc(var(--espaco-interno) * 3);
    left: calc(var(--espaco-interno) * 3);
}

.vetor__mac--fechar {
    fill: rgb(255, 95, 86);
}

.vetor__mac--minimizar {
    fill: rgb(255, 189, 46);
}

.vetor__mac--salvar {
    fill: rgb(39, 201, 63);
}