.menuLateral {
    border-bottom: .1rem solid rgba(255, 255, 255, 0.08);
}

.menuLateral__ativo:after {
    content: "";
    display: block;
    position: fixed;
    top: var(--altura-menu);
    left: 0;
    bottom: 0;
    right: 0;
}

@media screen and (min-width: 1440px) {
    .menuLateral {
        border-bottom: 0;
    }
}