.button__filled {
  background: rgb(80, 129, 251);
  color: rgb(5, 29, 59);
}

.button__filled:hover {
  background: rgb(123, 164, 252);
}

.button__filled:focus {
  background: rgb(150, 185, 253);
}

.button__filled:active {
  background: rgb(123, 164, 252);
  border: 0.4rem solid rgba(80, 129, 251, 0.72);
}
