.titulo {
    font: var(--font-titulo);
    color: white;
}

.titulo__sidebar {
    font: var(--font-titulo-sideBar);
    letter-spacing: 0.4em;
    text-transform: uppercase;
    margin-bottom: var(--espaco-interno);
}