.entrada__opcao {
    position: relative;
    display: block;
    cursor: pointer;
    border-radius: 0;
    margin: 0;
    background: rgb(45, 65, 91);
}

.entrada__opcao:hover {
    cursor: pointer;
    background: rgb(65, 83, 106);
}

.entrada__opcao:last-child {
    border-radius: 0 0 var(--borda-arredondada) var(--borda-arredondada);
}

.entrada__opcao.entrada__opcao--selecionada {
    color: var(--color-input);
}