.entrada__flecha {
    position: relative;
    height: 7px;
    background-color: transparent;
}

.entrada__flecha::before,
.entrada__flecha::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 1px;
    height: 100%;
    transition: all 0.3s;
}

.entrada__flecha::before {
    left: -5px;
    transform: rotate(-45deg);
    background-color: white;
}

.entrada__flecha::after {
    transform: rotate(45deg);
    background-color: white;
}

.entrada__conteiner--aberta .entrada__flecha::before {
    transform: rotate(45deg);
}

.entrada__conteiner--aberta .entrada__flecha::after {
    transform: rotate(-45deg);
}