.entrada__opcoes {
    position: absolute;
    display: block;
    z-index: 2;
    top: 5.6rem;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.entrada__conteiner.entrada__conteiner--aberta .entrada__opcoes {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}