.entrada__gatilho {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.entrada__conteiner--aberta .entrada__gatilho {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}