.input__arrow {
  position: relative;
  height: 7px;
  background-color: transparent;
}

.input__arrow::before,
.input__arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 1px;
  height: 100%;
  transition: all 0.3s;
}

.input__arrow::before {
  left: -5px;
  transform: rotate(-45deg);
  background-color: white;
}

.input__arrow::after {
  transform: rotate(45deg);
  background-color: white;
}

.input__container--open .input__arrow::before {
  transform: rotate(45deg);
}

.input__container--open .input__arrow::after {
  transform: rotate(-45deg);
}
