.input__arrow {
  position: relative;
  height: 0.7rem;
  background-color: transparent;
}

.input__arrow::before,
.input__arrow::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0.1rem;
  height: 100%;
  transition: all 0.3s;
}

.input__arrow::before {
  left: -0.5rem;
  transform: rotate(-45deg);
  background-color: var(--color-neutral-white);
}

.input__arrow::after {
  transform: rotate(45deg);
  background-color: var(--color-neutral-white);
}

.input__container--open .input__arrow::before {
  transform: rotate(45deg);
}

.input__container--open .input__arrow::after {
  transform: rotate(-45deg);
}
