.input__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.input__container--open .input__trigger {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
