.perfil {
    align-items: center;
    margin-top: 2.4rem;
    color: rgb(255, 255, 255);
    font: var(--fonte-corpo);
    display: flex;
    border-radius: var(--borda-arredondada);
    padding: var(--espaco-interno-perfil);
}

.perfil--mobile:hover {
    background: rgba(255, 255, 255, 0.08);
}

.perfil--desktop {
    display: none;
}

.perfil--comunidade {
    margin: 0;
}

.perfil--comunidade:hover {
    background: rgba(255, 255, 255, 0.08);
}

@media screen and (min-width: 1440px) {
    .perfil--mobile {
        display: none;
    }
    .perfil--desktop {
        display: flex;
        margin: 0;
        justify-content: flex-end;
        width: 100%;
        max-width: 27.2rem;
        margin-left: calc(var(--espaco-interno) * 2);
        box-sizing: border-box;
        padding: 0;
    }
}