.icon {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: calc(var(--border-radius) * 2);
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.icon--community {
  height: 4rem;
  width: 5.8rem;
}

.icon--community:first-of-type {
  margin: 0;
}

.icon--community:active .icon__heart {
  fill: rgb(246, 81, 81);
}

.icon:hover {
  background: rgba(80, 129, 251, 0.08);
}

.icon:active {
  background: rgba(80, 129, 251, 0.16);
}

@media screen and (min-width: 768px) {
  .icon--hidden-tablet {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .icon--hidden-desktop {
    display: none;
  }
}
