.logo {
    min-width: 145px;
    background-image: url(../imgs/logo.png);
    height: 5.2rem;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: var(--espaco-interno);
    transition: left 1.5s;
}

.logo--ativo {
    left: -15rem;
    transition: left 1s;
}

@media screen and (min-width: 768px) {
    .logo {
        position: initial;
    }
}

@media screen and (min-width: 1440px) {
    .logo {
        width: 100%;
        max-width: 25.4rem;
    }
}