.mobileMenu {
    top: calc(var(--altura-menu) + var(--espaco-interno) * 4);
    right: -30rem;
    height: calc(100vh - (var(--altura-menu) + var(--espaco-interno) * 4));
    min-width: 25.4rem;
    z-index: 1;
    background: #2D415B;
    border-radius: var(--borda-arredondada);
    position: fixed;
    padding: 2.4rem;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: var(--fonte-corpo);
    transition: 1s right;
}

.mobileMenu--show {
    right: calc(var(--espaco-interno) * 2);
}

@media screen and (min-width: 1440px) {
    .mobileMenu {
        position: initial;
        height: auto;
        background: none;
        padding: 0;
    }
}