.container__cards {
  display: grid;
  grid-gap: var(--padding-card);
  grid-template-columns: auto;
}

@media screen and (min-width: 1440px) {
  .container__cards {
    grid-template-columns: auto auto;
    width: 100%;
  }
}
