.profile__container {
  display: flex;
  align-items: center;
  border-radius: var(--borda-arredondada);
  padding: var(--espaco-interno-perfil);
}

.profile__container:hover {
  background: rgba(255, 255, 255, 0.08);
}
