:root {
  font-size: 62.5%;
  background: rgb(5, 29, 59);

  --border-radius: 0.8rem;
  --padding: 1.6rem;
  --padding-profile: 1.2rem;
  --padding-card: 2.4rem;

  --color-custom: rgb(107, 209, 255);

  --font-body: normal normal 1.6rem/2.4rem "Inter", "sans-serif";
  --font-code: normal normal 1.4rem/1.8rem "Roboto", sans-serif;
  --font-title-sidebar: normal normal 1.2rem/1.8rem "Inter", "sans-serif";
  --font-title: normal bold 2.1rem/3.2rem "Inter", "sans-serif";

  --menu-height: 5.6rem;
}

a {
  text-decoration: none;
}

.hidden-desktop {
  display: none;
}
