.card {
  width: 100%;
}

.card--community {
  background: rgba(0, 0, 0, 0.16);
  border-radius: var(--borda-arredondada);
}

@media screen and (min-width: 1440px) {
  .card--community {
    margin-top: 0;
  }
}
