.card__conteiner {
    padding: calc(var(--espaco-interno) * 2);
    background-color: var(--cor-personalizada);
    border-radius: var(--borda-arredondada);
    position: relative;
}

.card__conteiner--comunidade {
    padding: calc(var(--espaco-interno-perfil) * 2);
}