.card__codigo {
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgb(20, 20, 20);
    border-radius: var(--borda-arredondada);
    height: 30.2rem;
    width: 100%;
    outline: 0;
    padding-top: calc(var(--espaco-interno) * 3);
    padding-left: var(--espaco-interno);
    padding-right: var(--espaco-interno);
    padding-bottom: var(--espaco-interno);
    font: var(--fonte-code);
    box-sizing: border-box;
}

.card__codigo--comunidade {
    max-height: 24rem;
    height: 100%;
    width: auto;
}