.card__container {
  padding: calc(var(--padding) * 2);
  background-color: var(--color-custom);
  border-radius: var(--border-radius);
  position: relative;
}

.card__container--community {
  padding: calc(var(--padding-profile) * 2);
}
